@model Attendee

@{
    ViewData["Title"] = "Add New Attendee";
}

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Add New Attendee
            </h2>
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DOB" class="control-label"></label>
            <input asp-for="DOB" type="date" class="form-control" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="control-label"></label>
            <textarea asp-for="Address" class="form-control summernote"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <button type="submit" value="Create" class="btn btn-primary" style="width: 150px">Create</button>
        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
    </div>
</form>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 200
            });
        });
    </script>
}
