@model KingsOwnInstitute.Data.ViewModels.NewRegistrationViewModel

@{
    ViewData["Title"] = "Register Attendee";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="test-danger"></div>
            <div class="border p-3 mt-4 row">
                <div class="row pb-2">
                    <h2 class="text-primary">Register Attendee</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="AttendeeId" class="control-label"></label>
                    <select asp-for="AttendeeId" class="form-control" asp-items="ViewBag.Attendees">
                        <option disabled selected>--Select Attendee--</option>
                    </select>
                    <span asp-validation-for="AttendeeId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SeminarId" class="control-label"></label>
                    <select asp-for="SeminarId" class="form-control" asp-items="ViewBag.Seminars">
                        <option disabled selected>--Select Seminar--</option>
                    </select>
                    <span asp-validation-for="SeminarId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="RegistrationDate" class="control-label"></label>
                    <input asp-for="RegistrationDate" type="date" class="form-control" />
                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                    <a asp-controller="RegistrationInfo" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
